.article-title {
  min-height: 100px;
}

ol, ul {
  font-size: 1.0625em;
}

strong {
  font-weight: 500 !important;
}

code {
  background: #f4f4f4;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  padding-left: 4px;
  padding-right: 4px;
}

.toggle {
  padding-left: 2rem;
  padding-right: .5rem;
  border-left-style: solid;
  border-left-width: 0.0625em;
  border-color: #137752;
  border-width: .125rem;
  background-color: #e8fdf5;
  color: #137752;
}
