.highlight pre {
  line-height: 1.5;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: 6px;
}

div .highlight {
  border: thin solid #ddd;
  margin-bottom: 0.5em;
  border-radius: 0.6em;
}

.article-title {
  min-height: 100px;
}

ol,
ul {
  font-size: 1.0625em;
}

strong {
  font-weight: 600 !important;
}

article h1,
article h2 {
  margin-top: 2em;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  margin-left: -0.5em;
  font-weight: 400;
  font-family: sans-serif;
}

code {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: underline;
  font-family: Menlo, Consolas, Monaco, monospace;
}

.toggle {
  padding-left: 2rem;
  padding-right: 0.5rem;
  border-left-style: solid;
  border-left-width: 0.0625em;
  border-color: #137752;
  border-width: 0.125rem;
  background-color: #e8fdf5;
  color: #137752;
}

#article-content p {
  padding-top: 0.5rem;
}

@media screen and (min-width: 480px) {
  #article-content p {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 480px) {
  #article p {
    padding-left: 0.5rem;
  }
}
