.output_stream pre {
  padding: 0.625em 1.25em 0.625em 1.25em;
  overflow: scroll;
}

.output_text pre {
  padding: 0.625em 1.25em 0.625em 1.25em;
  color: #777777;
  background-color: #eeeeee;
  overflow: scroll;
}

.output_png {
  text-align: center;
}

.input_prompt, .output_prompt {
  display: none;
}

.anchor-link {
  display: none;
}
