{% extends "base.html" %}

{% block head %}
  <title>{{ article.title }}</title>
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/article.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/notebook.css">
{% endblock %}

{% block header %}
  {% include "title.html" %}
{% endblock %}

{% block content %}
  <div class="flex flex-column">
    <div class="flex justify-between items-center article-title bb bw1 b--light-gray">
      <div>
        <div class="flex flex-column">
          <div>
            <p class="f3-ns f4 mv0 lh-title">
              {{ article.title }}
            </p>
          </div>
          <div class="ml3">
            <p class="f6 ttc mb0 mt1 mid-gray">
              {{ article.locale_date }}
            </p>
          </div>
        </div>
      </div>
      <div class="w-40">
        <div class="flex flex-wrap justify-end">
          {% for tag in article.tags %}
            {% include 'tag_div.html' %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="ph3">
      {{ article.content }}
    </div>
    {% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
      {% include 'disqus.html' %}
    {% endif %}
  </div>
{% endblock %}
