{% extends "base.html" %}

{% block head %}

  <title>{{ article.title }}</title>
  <meta itemprop="description"
        name="description"
        content="{{ article.summary|striptags|replace('"','') }}"/>

  {{ super() }}

  <!-- Open Graph tags -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ article.title }}"/>
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}"/>
  {% if CLOUDINARY_IMAGE and CLOUDINARY_URL %}
  <meta name="twitter:card" content="summary_large_image"/>
  <meta property="og:image" content="{{ CLOUDINARY_URL }}{{ article.title|replace("&nbsp;"," ")|urlencode }}/{{ CLOUDINARY_IMAGE }}"/>
  {% endif %}
  <meta property="article:published_time" content="{{ article.date }}"/>
  <meta property="og:description"
        content="{{ article.summary|striptags|replace('"','') }}"/>

  <!-- Twitter card tags -->
  <meta name="twitter:title" content="{{ article.title }}">
  <meta name="twitter:description"
        content="{{ article.summary|striptags|replace('"','') }}"/>

  <link rel="canonical" href="{{ SITEURL }}/{{ article.url }}">

  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/article.css">
  {% if EXTRA_CSS.get("article", None) %}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ EXTRA_CSS["article"] }}">
  {% endif %}

  {% if EXTRA_JS.get("article", []) %}
  {% for js in EXTRA_JS["article"] %}
  <script src="{{ js }}"></script>
  {% endfor %}
  {% endif %}

{% endblock %}

{% block header %}
  {% include "title.html" %}
{% endblock %}

{% block content %}
  <article class="flex flex-column">
    <section id="article-title" class="flex justify-between mt4 avenir bb b--moon-gray pb2">
      <div>
        <div class="flex flex-column">
          <div>
            <p class="f3-ns f4 mv0 lh-title">
              {{ article.title }}
            </p>
          </div>
          <div class="ml3">
            <p class="f6 ttc mb0 mt1 mid-gray">
              {{ article.locale_date }}
            </p>
          </div>
        </div>
      </div>
      <div class="w-40">
        <div class="flex flex-wrap justify-end">
          {% for tag in article.tags %}
            {% include 'tag_div.html' %}
          {% endfor %}
        </div>
      </div>
    </section>
    <section id="article-content" class="ph3 garamond near-black" style="font-size: 17px">
      {{ article.content }}
    </section>
    {% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
      {% include 'disqus.html' %}
    {% endif %}
  </article>
{% endblock %}
