{% extends "base.html" %}

{% block header %}
  {% include "title.html" %}
{% endblock %}

{% block content %}
  <div class="flex flex-column">
    <div>
      <h1 class="mid-gray fw6">{{ article.title }}</h1>
    </div>
    <div>
      <h3 class="mid-gray ma1 fw3">Tags:</h3>
    </div>
    <div class="flex flex-wrap mw7 pb2">
      {% for tag in article.tags %}
        {% include 'tag_div.html' %}
      {% endfor %}
    </div>
    <div class="near-black">
      {{ article.content }}
    </div>
  </div>
{% endblock %}
