<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

<head>
  {% block head %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width-device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
  {% endblock head %}
</head>

<body>
  <div class="mw7 avenir ml-auto mr-auto ph3 flex flex-column min-vh-100">
    <div id="header" class="flex flex-column">
      {% block header %}
      {% endblock header %}
    </div>
    <div id="content" class="flex-auto">
      {% block content %}
      {% endblock %}
    </div>
    <div id="footer" class="pv3 flex justify-between">
      <div class="flex flex-column w-50 ml4-ns ml0">
        <div class="mid-gray fw4">
          Powered by <a href="https://getpelican.com/" class="link dim mid-gray fw6">Pelican</a>
        </div>
      </div>
      <div class="flex justify-end w-50 mr4-ns mr0 ml2">
        {% if SOCIAL %}
          {% for icon, link in SOCIAL|sort %}
              <div class="w-10-ns w2 ml3-ns ml2 grow">
                <a href="{{ link }}" class="light-purple dim link">
                  <div class="o-50">
                    {% include "icons/" + icon + ".svg" %}
                  </div>
                </a>
              </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</body>

</html>
