{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <meta property="og:title" content="{{ SITENAME }}"/>
  <meta property="og:url" content="{{ SITEURL }}"/>
  {% if TWITTER_CARD_IMAGE_URL %}
  <meta property="og:image" content="{{ TWITTER_CARD_IMAGE_URL }}"/>
  <meta name="twitter:image" content="{{ TWITTER_CARD_IMAGE_URL }}"/>
  {% endif %}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/index.css">
{% endblock %}

{% block header %}
  {% include "title.html" %}
  <div class="mt2 mb4">
    <a href="{{ SITEURL }}/pages/about" class="link dim f4 fw3 near-black">
      {{ AUTHOR }}
    </a>
  </div>
  <div class="flex flex-wrap pb4">
    {% for tag, articles in tags|sort %}
      {% include "tag_div.html" %}
    {% endfor %}
  </div>
{% endblock %}

{% block content %}
  <div class="flex flex-column pb2">
    <div class="pl2">
      <h1 class="f3 fw6 tracked">
        Posts
      </h1>
    </div>
  {% for article in articles_page.object_list %}
    <div class="flex w-100 items-center pl4">
      <div style="width: 175px;">
        <p class="fw3 f5 near-black mv2">
          {{ article.date|strftime("%Y-%B-%d") }}
        </p>
      </div>
      <div class="ml4-l ml3 w-60">
        <p class="f5-ns f6 fw5 mv2 lh-title">
          <a href="{{ SITEURL }}/posts/{{ article.slug }}"
            class="link dim purple">
            {{ article.title }}
          </a>
        </p>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}
